---
import MainHead from '../../components/MainHead.astro';

const genres = [
  {name: "Rock",                      stat: 439},
  {name: "J-Rock",                    stat: 376},
  {name: "J-Pop",                     stat: 329},
  {name: "Modern Rock",               stat: 315},
  {name: "Modern Alternative Rock",   stat: 242},
  {name: "Permanent Wave",            stat: 234},
  {name: "Indie Pop",                 stat: 222},
  {name: "J-PopRock",                 stat: 165},
  {name: "Pop",                       stat: 139},
  {name: "Japanese Alternative Rock", stat: 124},
];

const artists = [
  "The 1975",
  "Vistas",
  "Radiohead",
  "Tokyo Incident",
  "Beach Bunny",
  "Two Door Cinema Club",
  "Hitsujibungaku",
  "Elvis Presley",
  "The Killers",
  "No Buses",
];

const tracks = [
  {name: "1234",               artist: "/Feist"},
  {name: "Girl",               artist: "/No Buses"},
  {name: "Sincerity Is Scary", artist: "/The 1975"},
  {name: "What You Know",      artist: "/Two Door Cinema Club"},
  {name: "Aimaideiiyo",        artist: "/Hitsujibungaku"},
  {name: "Soda",               artist: "/The Whoops"},
  {name: "Painkiller",         artist: "/Beach Bunny"},
  {name: "Lift",               artist: "/Radiohead"},
  {name: "Brianstorm",         artist: "/Arctic Monkeys"},
  {name: "Silhouettes",        artist: "/Colony house"},
];

const playlists = [
  {name: "Your Top Songs 2020", url: "37i9dQZF1EM4QpTmLOsGxa"},
  {name: "Your Top Songs 2019", url: "37i9dQZF1EtnBBAGMqLycU"},
  {name: "Your Top Songs 2018", url: "37i9dQZF1EjnJldLdrpH4Z"},
]
---

<html lang="en">
<head>
  <MainHead title="Stats" />
</head>
<style lang="scss">
  /* overall                          */
    body {
      margin: 0 auto;
    }
    .wrapper {
      width: 100%;
      max-width: 750px;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 20px;
      box-sizing: border-box;
    }
    .music {
      border: 2px solid #fff;
      margin-bottom: 20px;
    }
    h1 #resume {
      margin-top: 0 !important;
    }
    @media screen and (max-width: 450px) {
      :global(body) {
        width: 100%;
      }
    }
    @media screen and (min-width: 451px) {
      :global(body) {
        width: 70%;
      }
    }
  /* overall end                      */

  /* global                           */
    :global(h1) {
      margin: 0;
    }
    :global(h2) {
      color: #000;
      background-color: #fff;
      margin-top: 0;
      margin-bottom: 0;
    }
    :global(h3) {
      margin-top: 0;
      margin-bottom: 0;
    }
    :global(p) {
      margin: 0;
    }
    :global(li) {
      font-weight: 600;
      list-style: none;
    }
    :global(a) {
      color: #ffc800;
    }
    :global(blockquote) {
      margin: 0;
      color: #bbb;
    }
    :global(hr) {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      color: #fff;
      border-style:solid;
    }
    :global(span > p) {
      /* // margin-left: 0.5em; */
      display: inline-block;
      margin-right: 0.5em;
      padding: 0 8px;
      border-radius: 20px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      width: fit-content;
      background-color: #fff;
      color: #000;
    }
  /* global end                       */

  /* genre                            */
    .genre {
      padding: 5px;
      &-holder {
        width: 100%;
        background-color: #000;
        margin: 0 auto;
        height: 16px;
      }
      > p {
        font-weight: 600;
      }
    }
    .bar {
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      height: 16px;
      text-align: right;
      line-height: 1.4em;
      > p {
        margin-right: 4px;
      }
      &-1 {
        background-color: #0039A6;
        width: 100%;
      }
      &-2 {
        background-color: #FF6319;
        width: 90%;
      }
      &-3 {
        background-color: #6CBE45;
        width: 80%;
      }
      &-4 {
        background-color: #996633;
        width: 78%;
      }
      &-5 {
        background-color: #A7A9AC;
        width: 70%;
      }
      &-6 {
        background-color: #FCCC0A;
        color: #000;
        width: 68%;
      }
      &-7 {
        background-color: #808183;
        width: 66%;
      }
      &-8 {
        background-color: #EE352E;
        width: 61%;
      }
      &-9 {
        background-color: #00933C;
        width: 58%;
      }
      &-10 {
        background-color: #B933AD;
        width: 56%;
      }
    }
  /* genre end                        */

  /* artists                          */
    .artists {
      padding: 5px;
      &-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &-rank {
          display: flex;
          margin-top: 4px;
          > div {
            line-height: 20px;
          }
          > img {
            width: 60px;
            max-height: 60px;
          }
          &-num {
            position: absolute;
            width: min-content;
            min-width: 16px;
            height: 16px;
            text-align: center;
            background-color: #ffc800;
            font-weight: 600;
            line-height: 1em !important;
            color: #000;
          }
          &-name {
            font-weight: 600;
            line-height: 1em;
            margin: auto;
            margin-left: 5px;
            &-artist {
              color: #7C7C7C;
            }
          }
        }
      }
    }
    @media screen and (max-width: 480px) {
      .artists-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-rank-name {
          font-size: 12px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .artists-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-rank-name {
          font-size: 12px;
        }
      }
    }
  /* artists end                      */

  /* tracks                           */
    .tracks {
      padding: 5px;
      &-holder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &-rank {
          display: flex;
          margin-top: 4px;
          > div {
            line-height: 20px;
          }
          > img {
            width: 60px;
            max-height: 60px;
          }
          &-num {
            position: absolute;
            width: min-content;
            min-width: 16px;
            height: 16px;
            text-align: center;
            background-color: #ffc800;
            font-weight: 600;
            line-height: 1em !important;
            color: #000;
          }
          &-name {
            font-weight: 600;
            line-height: 1em;
            margin: auto;
            margin-left: 5px;
            &-artist {
              color: #7C7C7C;
            }
          }
        }
      }
    }
    @media screen and (max-width: 480px) {
      .tracks-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-rank-name {
          font-size: 14px;
          &-artist {
            font-size: 12px;
            line-height: 1.1em;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      .tracks-holder-rank-name-artist {
        font-size: 12px;
        line-height: 1.1em;
      }
    }
    .ten {
      font-size: 12px;
      line-height: 1.4em !important;
      font-weight: 800;
    }
  /* tracks end                       */

  /* playlists                        */
    .playlists {
      padding: 5px;
      > p {
        font-weight: 600;
      }
    }
  /* playlists end                    */
</style>
<body>
<div class="wrapper">
<h1>Stats</h1>

  <!-- music -->
  <div class="music">
  <h2>MUSIC (Spotify Stats)</h2>

    <!-- genre -->
    <div class="genre">
      <h3>Top Genres(all time)</h3>
      {genres.map((genre, i) => (
        <li>
          {genre.name}
          <div class="genre-holder">
            <div class={"bar" + " " + "bar-" + `${i+1}`}>
              {genre.stat}
            </div>
          </div>
        </li>
      ))}
    </div>
    <!-- genre end -->

    <hr>

    <!-- artist -->
    <div class="artists">
      <h3>Top Artists(all time)</h3>

      <div class="artists-holder">
        {artists.map((artist, i) => (
          <li class="artists-holder-rank">
            <div class="artists-holder-rank-num">
              {i+1}
            </div>
            <img src={"/assets/artists/artists-" + `${i+1}` + ".jpeg"} alt="artist image">
            <div class="artists-holder-rank-name">
              {artist}
            </div>
          </li>
        ))}
      </div>
    </div>
    <!-- artist end -->

    <hr>

    <!-- tracks -->
    <div class="tracks">
      <h3>Top tracks(all time)</h3>

      <div class="tracks-holder">
        {tracks.map((track, i) => (
          <div class="tracks-holder-rank">
            <div class="tracks-holder-rank-num">
              {i+1}
            </div>
            <img src={"/assets/tracks/tracks-"+ `${i+1}`+ ".jpeg"} alt="track image">
            <div class="tracks-holder-rank-name">
              {track.name}
              <div class="tracks-holder-rank-name-artist">{track.artist}</div>
            </div>
          </div>
        ))}
      </div>
    </div>
    <!-- tracks end -->

    <hr>

    <!-- Playlists -->
    <div class="playlists">
      <h3>Playlists</h3>

      <div class="playlists-holder">
        {playlists.map(playlist => (
          <li>
            <p>{playlist.name}</p>
            <iframe
              src={"https://open.spotify.com/embed/playlist/" + `${playlist.url}` + "?utm_source=generator&theme=0"}
              width="100%"
              height="80"
              frameBorder="0"
              allowfullscreen=""
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
          </li>
        ))}
      </div>
    </div>
    <!-- Playlists end -->

  </div>
  <!-- music end -->

<div class="github">
</div>

</div>
</body>
</html>
