---
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';

const { content } = Astro.props;
const cut_date = content.published_at;

const date = cut_date.substring( 0, 10 );
---
<html lang={ content.lang || 'en' }>
  <head>
    <MainHead title={content.title} />
    <link rel="stylesheet" href="/markdown.css">
    <style lang="scss">

    </style>
  </head>
  <body>
    <Nav />
    <header style={`background-image:url(${content.img})`} class="hero">
      <h1 class="title">{content.title}</h1>
    </header>
    <div class="leadIn">
      <div class="tags tal flex">
        {content.tags.map((t) => (
          <span class="tag">{t}</span>
        ))}
        <div class="date">{date}</div>
      </div>
      <h3 class="tagline">desc : {content.description}</h3>
    </div>
    <div class="pt0">
      <div class="content"><slot></slot></div>
    </div>
    <!-- <footer class="tac mt6 mb6">
      <a href="/projects">
        <Button>View More</Button>
      </a>
    </footer> -->
  </body>
</html>
