---
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';

const { content } = Astro.props;
const cut_date = content.published_at;

const date = cut_date.substring( 0, 10 );
---
<html lang={ content.lang || 'en' }>
  <head>
    <MainHead title={content.title} />
    <link rel="stylesheet" href="/markdown.css">
  </head>
  <body>
    <Nav />
    <header style={`background-image:url(${content.img})`} class="hero">
      <h1 class="title">{content.title}</h1>
    </header>
    <div class="content">
      <div class="leadIn">
        <div class="leadIn_tags">
          {content.tags.map((t) => (
            <span>{t}</span>
          ))}
          <div class="leadIn_tags_date">{date} | </div>
          <div class="leadIn_tags_char">{content.char} chars</div>
        </div>
        <div class="leadIn_desc">DESC : {content.description}</div>
      </div>
      <!-- sentence start -->
      <slot></slot>
      <!-- sentence end -->
    </div>
    <!-- <footer class="tac mt6 mb6">
      <a href="/blog">
        <Button>View More</Button>
      </a>
    </footer> -->
  </body>
</html>
