---
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

const { content } = Astro.props;
const cut_date = content.published_at;

const date = cut_date.substring( 0, 10 );
---
<html lang={ content.lang || 'en' }>
  <head>
    <MainHead title={content.title} />
    <style lang="scss">
      .hero {
        padding: 8rem;
        display: flex;
        background-color: var(--t-fg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 25vw;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter: grayscale(100);
      }

      // .tag:first-child {
      //   margin-left: 0;
      // }

      .tag {
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding: 0 8px;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 900;
        background-color: #ffc800;
        color: #000;
        &:first-child {
          margin-left: 0;
        }
        // &:nth-of-type(1n) {
        //   color: var(--c-green);
        // }
        // &:nth-of-type(2n) {
        //   color: var(--c-orange);
        // }
        // &:nth-of-type(3n) {
        //   color: var(--c-blue);
        // }
        // &:nth-of-type(4n) {
        //   color: var(--c-pink);
        // }
      }

      .title {
        font-size: var(--f-u10);
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
      }

      .leadIn {
        color: var(--t-bg);
        background-color: #000;
      }

      .tagline {
        font-weight: 900;
        font-size: var(--f-u3);
        line-height: 1.5;
      }

      .content {
        font-size: var(--f-u1);
        line-height: 2.2;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <Nav />
    <header style={`background-image:url(${content.img})`} class="hero">
      <h1 class="title">{content.title}</h1>
    </header>
    <div class="leadIn">
      <div class="wrapper tags pt8 pb8 tal">
        {content.tags.map((t) => (
          <span class="tag">{t}</span>
        ))}
        <h2>{date}</h2>
        <h3 class="tagline">{content.description}</h3>
      </div>
    </div>
    <div class="wrapper wrapper__readable">
      <div class="content"><slot></slot></div>
    </div>
    <footer class="tac mt6">
      <a href="/projects">
        <Button>View More</Button>
      </a>
    </footer>
    <Footer />
  </body>
</html>
